{% extends "layout.html" %}

{% block title %}
    
{% endblock %}

{% block main %}

<form method="post" enctype="multipart/form-data">
  <div class="drop-zone">
    <span class="drop-zone__prompt">Drop file here or click to upload</span>
    <input type="file" id="image_input" name="file" class="drop-zone__input">
  </div>
  <p></p>
  <button class="btn btn-primary" type="submit"> SUBMIT </button>
</form>

<script src="static/script.js"></script>

<a href="{{url_for('static', filename='uploads/brainsonline.jpeg')}}" download>
  <img src="{{url_for('static', filename='uploads/brainsonline.jpeg')}}" alt="W3Schools">
</a>
<a href="{{url_for('static', filename='uploads/disney.jpeg')}}" download>
  <img src="{{url_for('static', filename='uploads/disney.jpeg')}}" alt="W3Schools">
</a>


{% endblock %}